<nav class="nav-bar">
    <div class="nav-bar__heading">
        <img class="nav-bar__logo" src="/assets/images/logo.png"/>
        <h1 class="nav-bar__title">@ViewBag.PageTitle</h1>
    </div>
    <ul class="nav-bar__items">
        <li class="nav-bar__item"><a href="#">Home</a></li>
        <li class="nav-bar__item"><a href="#">Internation Space Station</a></li>
        <li class="nav-bar__item"><a href="#">Asteroids</a></li>
        <li class="nav-bar__item"><a href="#">Mars</a></li>
    </ul>
</nav>