<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="@Url.Action("Index", "Home")" aria-expanded="false">
                        <i class="bi bi-house"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Space</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="@Url.Action("Index", "SpaceStationTracker")" aria-expanded="false">
                        <i class="bi bi-box"></i>
                        <span class="hide-menu">
                            ISS Live Tracker
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="@Url.Action("Index", "NearbyAsteroids")" aria-expanded="false">
                        <i class="bi bi-book"></i>
                        <span class="hide-menu">
                            Nearby Asteroids
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false">
                        <i class="bi bi-cart"></i>
                        <span class="hide-menu">
                            Basket
                        </span>
                    </a>
                </li>

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Cryptocurreny</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false">
                        <i class="bi bi-currency-bitcoin"></i>
                        <span class="hide-menu">
                            Bitcoin
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false">
                        <i class="bi bi-bounding-box"></i>
                        <span class="hide-menu">
                            Blocks
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false">
                        <i class="bi bi-wallet2"></i>
                        <span class="hide-menu">
                            Transactions
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>