.space-viewer-controls {
    width: auto;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    z-index: 1;

    &__item {
        background: #181a1b;
        border: none;
        cursor: pointer;
        outline: none !important;
        margin-bottom: .25rem;

        i {
            color: #c8c3bc;
        }

        &:hover {
            i {
                color: #fff
            }
        }
    }

    &__item.hide {
        display: none;
    }

    canvas {
        max-width: 100%;
    }


    &__icon {
        height: 1.25rem;
        width: 1.25rem;

        &--globe-icon {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.space-viewer-controls__layers {
    display: none;
    flex-direction: column;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    bottom: 5rem;
    z-index: 1;
    background: #252527cc;

    .space-viewer-controls__filter {
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding: .5rem;
            cursor: pointer;

            label {
                margin: 0;
                text-align: left;
                color: #f0f8fc;
                font-weight: 100;
                cursor: pointer;
                width: 100%;
            }

            input {
                height: 1.25rem;
                width: 1.25rem;
                margin-right: .5rem;
                cursor: pointer;

                &:checked+label {
                    border: 1px solid white;
                }
            }
        }

        &-item--globe {
            display: none;
        }
    }

    .space-viewer-controls__title {
        margin-bottom: 1rem;
        padding-bottom: .5rem;

        button {
            color: #f0f8fc;
            width: 100%;
            background: none;
            background-color: transparent;
            border: none;
            outline: none;
            text-align: right;
        }
    }

    &.active {
        display: flex;
    }
}