@using SpaceApp.Models.ViewModels
@model AsteroidViewModel

@{
    ViewBag.Title = "Asteroid!";

}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h1 class="page-title text-truncate text-dark font-weight-medium"></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0">
                        @*<div class="loading-spinner">
                                <h1>Loading...</h1>
                            </div>*@
                        @if (Model != null && Model.AsteroidId != 0)
                        {
                            <div class="space-viewer" data-id="@Model.AsteroidId">
                                <div class="space-viewer__controls">
                                    <button class="space-viewer__item space-viewer__item--fullscreen" title="Toggle fullScreen">
                                        <i class="fas fa-expand" aria-hidden="true"></i>
                                    </button>
                                    <button class="space-viewer__item space-viewer__item--layers" title="Show layers">
                                        <i class="fa-solid fa-filter"></i>
                                    </button>
                                    <button class="space-viewer__item space-viewer__item--play hide" title="Play animation">
                                        <i class="fa-solid fa-play"></i>
                                    </button>
                                    <button class="space-viewer__item space-viewer__item--pause" title="Zoom out">
                                        <i class="fa-solid fa-pause"></i>
                                    </button>
                                </div>
                                <div class="space-viewer__layers">
                                    <div class="space-viewer__title">
                                        <button class="space-viewer__close">
                                            Filters
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <ul class="space-viewer__filter">
                                        <li>
                                            <input id="filter-orbits" type="checkbox" checked />
                                            <label for="filter-orbits">Orbits</label>
                                        </li>
                                        <li>
                                            <input id="filter-labels" type="checkbox" checked />
                                            <label for="filter-labels">Labels</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="asteroid-details">
                        <h4 class="card-title">Advanced Details</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://spaceappassets-local.co.uk/js/asteroid.js" defer></script>

